ELE_LLM_API_KEY=
ELE_LLM_BASE_URL=
ELE_LLM_AUTOPILOT_MODEL=gemini/gemini-3-flash-preview

# Chrome 配置
CHROME_EXECUTABLE_PATH=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome
CHROME_USER_DATA_DIR=~/Library/Application Support/Google/Chrome
CHROME_PROFILE_DIRECTORY=Default